.Header{ 
    color: #FACB2E;
    text-align: center;
    padding: 3%;
    font-size:x-large;
}

.MenuContainer{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content:space-between;
    
    
}

.Button{
    
    padding: 4% 0.5%;
    width: 20%;
    margin: 1.5%;
    float: left;
    backdrop-filter: blur(30px);
    color: #FFE863;
    border-radius: 10%;   
    font-size: x-large;
    font-family: 'Playfair Display', Ariel;
}

.MenuContainer :hover:not(img):not(b){
    box-shadow: 0 0 10px #F5BD1F;
    background: linear-gradient(180deg, #47297B 0%, #5D2689 100%);
    backdrop-filter: opacity(20px);

}


