.mainContainer {
  width: 800px;
  height: 400px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #722E9A 0%, #522882 100%);
  border: 1px solid #47297B;
  border-radius: 30px;
  position:relative;

}
