.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navContainer {
  top: 0; 
  left: 2rem; 
  width: 100%; 
}

.gameBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
}
