.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    margin: 2.5rem auto;
}

.defContainer {
    font-family: 'Playfair Display';
    color: var(--pallet-color-1);
    width: max-content;
    margin-left: 2.5rem;
}

.audioContainer {
    width: max-content;
    margin-right: 2.5rem;
}

.heading {
    font-size: 28px;
    color: #F5BD1F;
    padding-bottom: 0.5rem;

}

.definition {
    font-size: 18px;
    font-weight: 200;
    max-width: 450px;
    word-wrap: break-word;

}

.soundIcon {
    width: 50px;
}

.audioButton {
    display: block;
    height: max-content;
    width: max-content;
}

/* Reference: https://stackoverflow.com/questions/13955667/disabled-href-tag */
.disabled {
    cursor: default;
    pointer-events: none;
}