.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%
}

.defContainer {
    /* display: flex; */
    font-family: 'Playfair Display';
    color: var(--pallet-color-1);
    width: max-content;
}

.audioContainer {
    display: flex;
    width: max-content;
    margin-left: 50px;
}

.heading {
    font-size: 20px;
}

.definition {
    font-size: 13px;
    font-weight: 200;
}

.soundIcon {
    width: 50px;
}