@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab&display=swap');

:root {
    --pallet-color-1: #FFE863;
    --pallet-color-2: #F5BD1F;
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('/images/main-background.png');
    background-size: cover;
    color: rgb(var(--foreground-rgb));
    margin-left: 2%;
    margin-right: 2%;
    overflow-x: hidden;
}

object {
    pointer-events: none;
}