/* Styles for the home page (page.js in the app/ folder) */
.nameHeading {
    color: var(--pallet-color-1);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
}
.nameHeading > span {
    color: var(--pallet-color-2);
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contentContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 30px;
    backdrop-filter: blur(30px);
}

.loginSignupContainer {
    display: flex;
}

.linkButtonContainer{
    margin: 10px 10px;
}