.mainContainer {
    height: min-content;
    width: 100%;
    flex-shrink: 0;
    background: linear-gradient(180deg, #722E9A 0%, #522882 100%);
    border: 1px solid #47297B;
    border-radius: 30px;
    transition: border 0.3s ease-in-out;
  }
  
  
  .attemptsSkipContainer {
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 3vh;
  }
  
  .linkContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .link:hover {
    cursor: pointer;
  }
  
  .link > div {
    width: max-content;
    /* background: linear-gradient(180deg, #47297B 0%, #5D2689 100%); */
    background: #722E9A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }
  
  .linkLeft {
    margin-left: 1vw;
  }
  
  .linkLeft:hover {
    cursor: default;
  }
  
  .linkRight {
    display: flex;
    align-self: flex-end;
  }
  
  .linkText{
    font-family: 'Playfair Display';
    font-size: 20px;
    color: var(--pallet-color-1);
    padding: 10px 40px;
  }
  
  
  .scoreContainer{
    position: absolute;
    left: 85%;
    top:50%;
    text-align: center;
  
  }
  
  .score{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
  }

  /* Reference: https://stackoverflow.com/questions/13955667/disabled-href-tag */
  .disabled {
    cursor: default;
    pointer-events: none;
  }

  .mainContainer.frozenContainer {
    border: 8px solid aquamarine;
    border-radius: 30px;
  }
